<mat-toolbar color="primary">
  <span>Bharat Communcation</span>
  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" mat-raised-button routerLink="/login" color="primary">
      Login
  </button>
  <button *ngIf="isLoggedIn()" mat-raised-button (click)="logout()"  color="warn">
    Logout
</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>

  <button  *ngIf="isUser()" mat-raised-button  color="primary" routerLink="/cart">Cart</button>
  &nbsp;
  <button  *ngIf="isUser()" mat-raised-button  color="primary" routerLink="/myOrders">My Order</button>
  
  <button *ngIf="isAdmin()" mat-raised-button  color="primary" routerLink="/addNewProduct">Add New Product</button>
  &nbsp;
  <button *ngIf="isAdmin()" mat-raised-button  color="primary" routerLink="/showProductDetails">Show All Product Details</button>
  &nbsp;
  <button *ngIf="isAdmin()" mat-raised-button  color="primary" routerLink="/orderInformation">Show All Orders</button>
</mat-toolbar>