<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="text"
            ngModel
            name="userName"
            id="userName"
            placeholder="Enter your username"
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword"
            placeholder="Enter your password"
            class="form-control mb-3"
            >
            <button mat-raised-button color="primary" class="w-100" >Login</button>

        </form>
        
    </div>
    <div class="text-center">OR</div>
    <div class="text-center" >
        <br>
        <button mat-raised-button class="w-35" type="button" (click)="registerUser()">Create an account</button>
    </div>
</div>