<div class="container mt-5 mb-5">

  
        <div align= right class="mb-4">
            <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
        </div>
  

    <table mat-table [dataSource]="cartDetails" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Product Description </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productDescription}} </td>
        </ng-container>

        <!-- ActualPrice Column -->
        <ng-container matColumnDef="ActualPrice">
            <th mat-header-cell *matHeaderCellDef> Product Actual Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productActualPrice}} </td>
        </ng-container>


        <!-- DiscountedPrice Column -->
        <ng-container matColumnDef="DiscountedPrice">
            <th mat-header-cell *matHeaderCellDef> Product Discounted Price </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productDiscountedPrice}} </td>
        </ng-container>


        <!-- deletecart Item Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="warn" (click)="delete(element.cartId)">Delete</button>    
            </td>
            
        </ng-container>





        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>