/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.button-group {
    margin-left: auto;
  }
  .error-message {
    color: red;
  }
  .success-message {
    color: green;
  }
  