<div class="container mt-5">
   <mat-grid-list cols="4" rowHeight="3:4" gutterSize="10">
      <mat-grid-tile *ngFor="let p of productDetails">
         <div class="row home-page-product-image">
            <img [src]="p.productImages[0].url" width="200px" height="200px">
            <div class="mt-3">
               <p><b>{{p.productName}}</b></p>
            </div>
            <div class="mt-2">
               <p style="white-space: inherit; height: 40px; width: 288px; overflow: hidden; text-overflow: ellipsis;">{{p.productDescription}}</p>
            </div>
            <div class="mt-2">
               <p> <b>Rs. {{p.productDiscountedPrice}} </b> &nbsp;
                  MRP: <s>{{p.productActualPrice}}</s></p>
            </div>
            <div class="mt-2">
               <button type="button" mat-raised-button color="warn" (click)="showProductDetails(p.productDescription)">View</button>
            </div>
         </div>
      </mat-grid-tile>

   </mat-grid-list>
</div>